<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMART-ASSISSTED-TROLLEY</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="https://kit.fontawesome.com/65bbc4c00b.js" crossorigin="anonymous" rel="stylesheet">
</head>

<body>
  <section class="nav-sec">
    <nav id = "myHeader" class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#our-menu">Menu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" style="color: white;" href="#about-us">About Us</a></li>
                <li><a class="dropdown-item" href="#contact-us">Contact Us</a></li>
                <li><a class="dropdown-item" href="#our-team">Our Team</a></li>
              </ul>
            </li>
            <li class="nav-item2">
              <div class="row">
                <a href="/cart">
                  <div class="text" style="float: left;">
                    Cart
                  </div>
                  <div class="cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-cart"
                      viewBox="0 0 16 16">
                      <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        <span id="cartCounter"><sup><%= session.cart ? session.cart.totalQty: ' ' %></sup></span>
                    </svg>
                  </div>
                </a>
              </div>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </section>

  <%-body %>
  <section class="footer">
    <div class="container">
      <hr style="color: grey;">
      <div class="footer">
        <div class="footer-content">
        <h3>SMART ASSISSTED TROLLEY</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at tempore cum et aut nemo vitae reprehenderit similique mollitia aperiam?</p>
        <ul class="socials">
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
        </div>
        <div class="footer-bottom">
          <p>Copyright &copy;2023 SmartAssisstedTrolley. designed by <span>Aarushi</span></p>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
  <script src="https://kit.fontawesome.com/65bbc4c00b.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/4.1.4/noty.min.js"></script>

</body>

</html>
